####### requirements.txt #######
# file format is described here :
# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format

coverage
unittest-xml-reporting
-e git+https://github.com/chriskiehl/Gooey.git#egg=gooey # Using git version to limit dependency hell with wx-python